<!DOCTYPE html>
<html lang="en">
<head>
    {% block main_head %}{% end %}
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/base.css') }}" />
</head>
<body>
    <div id="header">
        <a class="header_page" href="/">Index</a>
        <div id="header_user">
            {% if user is not None %}
            <span>{{ user.username }}</span>
            <div id="header_user_content">
                <a class="header_user_text" href="/user/{{ user.username }}">Profile</a>
                <hr class="header_user_hr" />
                <a class="header_user_text" href="/logout">Logout</a>
            </div>
            {% else %}
            <a class="head_user_attention" href="login">Login</a>
            <a class="head_user_attention" href="register">Register</a>
            {% end %}
        </div>
    </div>
    {% block main_body %}{% end %}
</body>
</html>