{% extends "base.html" %}
{% block main_head %}
    <meta charset="UTF-8">
    <title>User: {{ user.username }}</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/default.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/user.css') }}" />
{% end %}
{% block main_body %}
<div id="user">
    <div id="user_information">
        <p id="user_information_username">
            <img id="user_information_avatar" src="/static/img/avatar/{{ find_user.username }}.png" /><br />
            {{ find_user.username }}
        </p>
        {% if user.uid == find_user.uid %}
        <div id="user_avatar_upload" onclick="avatar_form.avatar.click()">
            <span id="user_avatar_upload_hint">Upload avatar</span>
            <form name="avatar_form" method="post" enctype="multipart/form-data" style="display: none;">
                {% module xsrf_form_html() %}
                <input id="user_avatar_upload_input" type="file" name="avatar" accept="image/png, image/jpeg" onchange="type_name.click()" />
                <input type="submit" name="type_name" value="avatar_upload" style="display: none;" />
            </form>
        </div>
        <ul id="user_information_list">
            <li><p class="user_information_list_left">Registered Time:
                <span class="user_information_list_right"><b>{{ find_user.reg_time }}</b></span></p></li>
            {% if user.uid == find_user.uid %}
            <li><p class="user_information_list_left">Email:
                <span class="user_information_list_right"><b>{{ find_user.email }}</b></span></p></li>
            {% end %}
        </ul>
        {% end %}
    </div>
    {% if find_user.uid == user.uid %}
    <div id="user_password_update" class="user_block">
        <p class="user_block_title">Change Your Password</p>
        <form name="password_form" method="post">
            {% module xsrf_form_html() %}
            <p class="user_password_update_text">Original Password</p><input type="password" name="original" class="textbox user_password_update_textbox" />
            <p class="user_password_update_text">New Password</p><input type="password" name="new" class="textbox user_password_update_textbox" />
            <p class="user_password_update_text">Repeat New Password</p><input type="password" name="repeat" class="textbox user_password_update_textbox" />
            <div onclick="password_form.type_name.click()" id="user_password_update_submit" class="user_submit_button">Submit</div>
            <input type="submit" name="type_name" value="user_pws_update" style="display: none;">
        </form>
    </div>
    {% end %}
    {% if user.permission.get("admin") == 1 %}
    <div id="user_admin" class="user_block">
        <p class="user_block_title">Authority Management</p>
        <form name="user_admin_form" method="post">
            {% module xsrf_form_html() %}
            <p>
                {% if user.permission.get("gag") == 1 %}
                <input type="checkbox" value="1" name="connect" {% if find_user.permission.get("connect") == 1 %}checked{% end %}/>Connect
                <input type="checkbox" value="1" name="speak" {% if find_user.permission.get("speak") == 1 %}checked{% end %}/>Speak
                {% end %}
                {% if user.permission.get("root") == 1 %}
                <input type="checkbox" value="1" name="admin" {% if find_user.permission.get("admin") == 1 %}checked{% end %} />Admin
                <input type="checkbox" value="1" name="gag" {% if find_user.permission.get("gag") == 1 %}checked{% end %} />Gag
                <input type="checkbox" value="1" name="root" {% if find_user.permission.get("root") == 1 %}checked{% end %} />Root
                {% end %}
            </p>
            <div onclick="user_admin_form.type_name.click()" id="user_admin_submit">Submit</div>
            <input type="submit" name="type_name" value="user_admin" style="display: none;">
        </form>
    </div>
    {% end %}
</div>
{% end %}