<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/default.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/webscoket.css') }}" />
</head>
<body>
<script type="text/javascript" src="{{ static_url('js/webscoket.js') }}"></script>
<h3>Welcome, {{ username }}</h3>
<div id="content_frame">
    <p id="content"></p>
</div>
<form onsubmit="return false;">
    <p>
        <input type="text" name="message" id="message" class="message" onkeypress="if(event.keyCode == 13){sendmsg.click();}"/>
        <input type="button" value="Send" name="sendmsg" onclick="send(this.form.message.value);" />
    </p>
</form>
<p id="attention" class="attention"></p>
<p id="temp" style="display: none;"></p>
</body>
</html>