<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat Room</title>
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/default.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ static_url('css/webscoket.css') }}" />
</head>
<body>
<script type="text/javascript" src="{{ static_url('js/webscoket.js') }}"></script>
<h3>Welcome, {{ username }}</h3>
<div id="ws_message_frame">
    <p id="ws_message_frame_content"></p>
</div>
<div id="ws_message_send">
    <form onsubmit="return false;">
        <p>
            <input type="text" name="message" id="ws_message_send_textbox" placeholder="Type your message here" onkeypress="if(event.keyCode == 13){sendmsg.click();}" />
            <input type="button" value="Send" name="sendmsg" id="ws_message_send_button" onclick="send(this.form.message.value);" />
        </p>
    </form>
</div>
<p id="ws_attention" class="attention"></p>
<p id="ws_temp" style="display: none;"></p>
</body>
</html>