a {
    font-family: Monaco;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    font-family: Monaco;
}
h1 {
    font-family: Monaco;
}
h2 {
    font-family: Monaco;
}
h3 {
    font-family: Monaco;
}
h4 {
    font-family: Monaco;
}
h5 {
    font-family: Monaco;
}
h6 {
    font-family: Monaco;
}
input {
    font-family: Monaco;
}
.attention {
    color: orangered;
    font-size: 12px;
}