a {
    font-family: Monaco;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
p {
    font-family: Monaco;
}
h1 {
    font-family: Monaco;
}
h2 {
    font-family: Monaco;
}
h3 {
    font-family: Monaco;
}
h4 {
    font-family: Monaco;
}
h5 {
    font-family: Monaco;
}
h6 {
    font-family: Monaco;
}
input {
    font-family: Monaco;
}
span {
    font-family: Monaco;
}
label {
    font-family: Monaco;
}
.attention {
    color: orangered;
    font-size: 12px;
}
.info_block {
    width: 50%;
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    margin-left: 25%;
    margin-right: 25%;

    border-radius: 2px;
    border: 1px solid whitesmoke;

    box-shadow: 2px 2px 20px 0px rgba(0, 0, 0, 0.2);
}